*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  color: #161616;
  height: 100vh;
}

a:link,
a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

header {
  background-color: #fff7ed;
}

header > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 2.25em;
}

header h1 {
  margin: 0;
}

.logo a:link,
.logo a:visited {
  font-size: 1.5625rem;
  font-weight: 900;
  color: #000;
  line-height: 1.6;
  display: inline-block;
}

header nav ul {
  display: flex;
  gap: 0.75em;
}

header nav ul li a:link,
header nav ul li a:visited {
  color: #4d4d4d;
}

header nav ul li a.is-active:link,
header nav ul li a.is-active:visited {
  color: #161616;
  text-decoration: underline;
  font-weight: 500;
}

.container {
  width: 100%;
  max-width: 550px;
  padding: 0 1.625em;
  margin: 0 auto;
}

.main {
  position: relative;
  z-index: 0;
  background-color: #161616;
  color: #fff;
  background-image: url("/images/home-hero.png");
}

.bg-overlay {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(22, 22, 22, 0.9);
}

.main > .container {
  padding-block: 4.0625em;
}

.main > .container h2 {
  font-size: 2.25rem;
  line-height: 1.17;
  font-weight: 700;
}

.main > .container p {
  margin-top: 1.4375em;
  line-height: 1.5;
  /* font-weight: 500; */
}

.main > .container a:link,
.main > .container a:visited {
  display: block;
  color: #fff;
  background-color: #ff8c38;
  text-align: center;
  border-radius: 5px;
  font-weight: 700;
  padding: 1em;
  margin-top: 6.125em;
}

footer {
  background-color: #252525;
  color: #aaa;
  padding: 1.625em 0;
}

footer p {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.64;
  text-align: center;
}

.hero-image {
  position: relative;
  height: 233px;
}

.hero-image .bg-overlay {
  z-index: 1;
  background-color: rgba(22, 22, 22, 0.6);
}

.hero-image img {
  width: 100%;
  height: 233px;
  object-fit: cover;
}

.main-about > .container {
  padding: 3em 1.625em;
}

.main-about > .container h2 {
  font-size: 2rem;
  line-height: 1.1875;
}

.main-about > .container p {
  margin-top: 2em;
  line-height: 1.375;
}

.main-about > .container .cta {
  background-color: #ffcc8d;
  margin-top: 3.4375em;
  padding: 2em 2.3125em;
  border-radius: 5px;
}

.main-about > .container .cta h3 {
  font-size: 1.5rem;
  line-height: 1.25;
}

.cta-btn:link,
.cta-btn:visited {
  display: inline-block;
  font-weight: bold;
  color: #fff;
  line-height: 1.5;
  background-color: #161616;
  border-radius: 10px;
  padding: 0.75em 1.5em;
  margin-top: 2em;
}

/* Van */

.main-van h2 {
  margin-top: 3.75em;
}

.vans-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
  padding-block: 3.5em;
}

.van-item {
  max-width: 230px;
}

.van-item > a:link,
.van-item > a:visited {
  display: block;
  color: #161616;
}

.van-image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.van-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0.625em;
}

.van-info h3 {
  font-size: 1.25rem;
  line-height: 1.6;
  font-weight: 500;
}

.van-info p {
  font-weight: 700;
}

.van-info p > span {
  display: block;
  font-weight: 500;
}

.van-tag {
  display: inline-block;
  line-height: 2;
  color: #fff;
  border-radius: 5px;
  font-weight: 500;
  padding: 0.15em 0.875em;
}

.van-tag.simple {
  background-color: #e17654;
}

.van-tag.luxury {
  background-color: #161616;
}

.van-tag.rugged {
  background-color: #115e59;
}

/* Van detail */

.main-vanDetail .container {
  padding-top: 2.5em;
  padding-bottom: 5em;
}

.go-back-link:link,
.go-back-link:visited {
  color: #201f1d;
  text-decoration: underline;
  line-height: 1.375;
}

.van-details {
  display: flex;
  flex-direction: column;
}

.van-details .van-tag {
  align-self: flex-start;
  margin-top: 3em;
}

.van-details-image {
  margin-top: 2.5625em;
}

.van-details-image img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.van-details h2 {
  font-size: 2rem;
  margin-top: 0.625em;
  line-height: 1.053;
  font-weight: 500;
}

.van-details .van-details-price {
  font-size: 1.25rem;
}

.van-details .van-details-price span {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.83;
}

.van-details .van-details-description {
  line-height: 1.5;
  margin-top: 0.625em;
}

.van-details .van-details-btn {
  display: block;
  margin-top: 1.22em;
  border: none;
  font-size: 1.125rem;
  line-height: 1.78;
  color: #fff;
  font-weight: 700;
  background-color: #ff8c38;
  border-radius: 5px;
  padding: 0.25em 0;
  cursor: pointer;
}

/* Dashboard */

.dashboard-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8125em;
  padding: 2em 0;
}

.dashboard-nav a:link,
.dashboard-nav a:visited {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.28;
  color: #4d4d4d;
}
